* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1F2937;
    height: 500px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    gap: 70px;
}

nav {
    width: 60vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul, li {
    list-style: none;
    
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #acaeb3;
}

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.conteudo {
    width: 60vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 50px;
}

#main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

p {
    font-size: 16px;
    color: #acaeb3;
}

#textHeader {
    margin: 10px 0px;
    width: 22vw;
    text-align: left;
}

button {
    margin: 10px 0px;

    width: 100px;
    height: 30px;

    border: none;
    border-radius: 8px;

    background-color: #3882F6;
    color: #F9FAF8;

    cursor: pointer;
}

#imagem {
    width: 500px;
    height: 280px;
}

main {
    height: 400px;
    background-color: #F9FAF8;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    gap: 20px ;
}

.textMain {
    width: 50vw;
    height: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.card {
    width: 150px;
    height: 250px;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}

.caixa {
    width: 150px;
    height: 150px;

    border: 3px solid #3882F6;
    border-radius: 15px;
}

#paragrafoMain {
    text-align: center;
}